IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'DeletedUsers')
BEGIN
    CREATE TABLE DeletedUsers (
        DeletedUserID INT IDENTITY(1,1) PRIMARY KEY,
        OriginalUserID INT,
        UserName VARCHAR(100),
        UserMobile VARCHAR(15),
        UserEmail VARCHAR(255),
        UserImage VARCHAR(MAX),
        Enrollment VARCHAR(50),
        Password VARCHAR(255),
        Role VARCHAR(50),
        userAccess VARCHAR(50),
        DeletedAt DATETIME DEFAULT GETDATE()
    )
END
GO

CREATE OR ALTER PROCEDURE PR_User_Delete
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert into DeletedUsers
    INSERT INTO DeletedUsers (OriginalUserID, UserName, UserMobile, UserEmail, UserImage, Enrollment, Password, Role, userAccess)
    SELECT UserID, UserName, UserMobile, UserEmail, UserImage, Enrollment, Password, Role, userAccess
    FROM Users
    WHERE UserID = @UserID;

    -- Delete dependent records
    DELETE FROM Exam WHERE UserID = @UserID;
    DELETE FROM Paragraph_Reader WHERE UserID = @UserID;
    DELETE FROM Paragraph_Listener WHERE UserID = @UserID;
    DELETE FROM Mcqs WHERE UserID = @UserID;

    -- Delete from main Users table
    DELETE FROM Users WHERE UserID = @UserID;
END
GO
